{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {% include "components/aside.html.twig" %}
    <div class="p-4 md:ml-64">
        <h1 class="text-xl text-custom-text">User index</h1>
        <table class="w-full text-sm text-left rtl:text-right text-custom-text mb-4">
            <thead class="text-xs text-custom-text bg-custom-accent-900">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Roles
                </th>
                <th scope="col" class="px-6 py-3">
                    ChatUsername
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr class="{{ loop.index is even ? 'bg-custom-primary-900' : 'bg-custom-secondary-900' }}">
                <th scope="row" class="px-6 py-4 font-medium text-custom-text whitespace-nowrap">
                    {{ user.id }}
                </th>
                <td class="px-6 py-4 text-custom-text">
                    {{ user.email }}
                </td>
                <td class="px-6 py-4 text-custom-text">
                    {{ user.roles ? user.roles|json_encode : '' }}
                </td>
                <td class="px-6 py-4 text-custom-text">
                    {{ user.chatUsername }}
                </td>
                <td class="px-6 py-4 text-custom-text">
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Show</a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_admin_user_new') }}" class="text-custom-text py-2.5 px-5 text-sm border-none font-medium rounded-lg border bg-custom-secondary-600 hover:bg-custom-secondary-400">Create new</a>
    </div>
{% endblock %}
