{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    {% include "components/aside.html.twig" %}
    <div class="p-4 md:ml-64">
        <div class="p-4 shadow bg-custom-secondary-800 sm:p-5">
            <div class="flex justify-between mb-4 sm:mb-5">
                <div class="text-lg text-custom-text md:text-xl dark:text-white">
                    <h3 class="font-semibold">User</h3>
                </div>
            </div>
            <dl>
                <dt class="mb-2 font-semibold leading-none text-custom-text">ID</dt>
                <dd class="mb-4 font-light sm:mb-5 text-custom-text">{{ user.id }}</dd>
                <dt class="mb-2 font-semibold leading-none text-custom-text">Email</dt>
                <dd class="mb-4 font-light sm:mb-5 text-custom-text">{{ user.email }}</dd>
                <dt class="mb-2 font-semibold leading-none text-custom-text">Roles</dt>
                <dd class="mb-4 font-light sm:mb-5 text-custom-text">{{ user.roles ? user.roles|json_encode : '' }}</dd>
                <dt class="mb-2 font-semibold leading-none text-custom-text">Password</dt>
                <dd class="mb-4 font-light sm:mb-5 text-custom-text">{{ user.password }}</dd>
                <dt class="mb-2 font-semibold leading-none text-custom-text">Chat Username</dt>
                <dd class="mb-4 font-light sm:mb-5 text-custom-text">{{ user.chatUsername }}</dd>
            </dl>
            <div class="flex justify-between items-center">
                <div class="flex items-center space-x-3 sm:space-x-4">
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="inline-flex text-custom-text py-2.5 px-5 text-sm border-none font-medium rounded-lg border bg-custom-secondary-600 hover:bg-custom-secondary-400">
                        <svg aria-hidden="true" class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                            <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path>
                        </svg>
                        Edit
                    </a>
                    <a href="{{ path('app_user_index') }}" class="inline-flex text-custom-text py-2.5 px-5 text-sm border-none font-medium rounded-lg border bg-custom-secondary-600 hover:bg-custom-secondary-400">
                        Back to list
                    </a>
                </div>
                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
